CONFIG_NFS_V4=n
CONFIG_NFS_V4_1=n
CONFIG_NFS_V4_2=n
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_DWMAC_DWC_QOS_ETH=y
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_ACPI_HOTPLUG_MEMORY=y
CONFIG_MEMORY_HOTPLUG=y
CONFIG_MEMORY_HOTREMOVE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_ARM_SMMU_V3_SVA=y
CONFIG_EFI_GENERIC_STUB_INITRD_CMDLINE_LOADER=y
CONFIG_VHOST_NET=y
CONFIG_DEBUG_EFI=y
CONFIG_ACPI_DEBUG=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_KFENCE=y
CONFIG_PROC_KCORE=y
CONFIG_ARM_SDE_INTERFACE=y
CONFIG_IXGBE=y
CONFIG_USB_XHCI_PCI_RENESAS=y
CONFIG_PCIE_DPC=y
CONFIG_PCIE_EDR=y
CONFIG_USB_XHCI_PCI_RENESAS=y
CONFIG_ARM64_PMEM=y
CONFIG_ACPI_NFIT=y
CONFIG_ARM_FFA_TRANSPORT=y
CONFIG_DMI_SYSFS=y
CONFIG_EFI_TEST=m
CONFIG_ZONE_DEVICE=y
CONFIG_NODES_SHIFT=6
CONFIG_ARM64_MPAM=y
CONFIG_RESCTRL_PMU=y
